<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
        $('#frequency').change(function() {
            var selectedValue = $(this).val();
            if (selectedValue === 'INTERVAL') {
                $('#intervalField').html('<label for="interval_value" style="background-color: black; width: 120px; margin-right: 30px;">Interval Value:</label>' +
                    '<input id="interval_value" name="interval_value" style="border-radius: 10px; width: 200px" placeholder="Enter interval value">');
            } else {
                $('#intervalField').empty();
            }
        });
    });
    </script>
</head>
<div class="modal fade"
     id="addHabitModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="addHabitModal"
     aria-hidden="true">
    <div class="modal-dialog"
         role="document"
         style="position: fixed;
                width: 80%;
                max-width: 800px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%)">
        <div class="modal-content">
            <!-- MODAL CONTENT -->
            <div class="modal-body">
                <!-- FORM -->
                <form method="post"
                      action="{% url 'add-habit' %}"
                      style="position: relative;
                             left: 60px">
                    {% csrf_token %}
                    <h2>Add habit</h2>
                    <hr style="position: relative; right: 40px; width: 90%;">
                    <div>
                        <div>
                            <label style="background-color: black; width: 120px; margin-right: 30px;">Name:</label>
                            <input id="name"
                                   name="name"
                                   style="border-radius: 10px;
                                          width: 200px"
                                   placeholder="Name of habit">
                        </div>
                        <div>
                            <label for="category"
                                   style="background-color: black;
                                          width: 120px;
                                          margin-right: 30px">Category:</label>
                            <select name="category"
                                    id="category"
                                    style="border-radius: 10px;
                                           width: 200px">
                                {% for category in request.user.profile.categories.all %}
                                    <option value="{{ category.id }}">{{ category.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div>
                            <label for="frequency"
                                   style="background-color: black;
                                          width: 120px;
                                          margin-right: 30px">Frequency:</label>
                            <select name="frequency"
                                    id="frequency"
                                    style="border-radius: 10px;
                                           width: 200px">
                                {% for frequency in frequencies %}<option value="{{ frequency.0 }}">{{ frequency.1 }}</option>{% endfor %}
                            </select>
                        </div>
                        <div id="intervalField"></div>
                        <div>
                            <label style="background-color: black; width: 120px; margin-right: 30px;">Is positive:</label>
                            <input type="checkbox"
                                   id="is_positive"
                                   name="is_positive"
                                   style="border-radius: 20px">
                        </div>
                        <hr style="position: relative; right: 40px; width: 90%;">
                        <div>
                            <button type="submit"
                                    style="position: relative;
                                           border-radius: 10px;
                                           left: 10px">Add habit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
