{% load tz %}
<head>
    <style>
    body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 0.88rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: left;
    background-color: #6200EA;
    }

    i {
        font-style: italic;
    }

    .container{
        margin-top:100px;
    }

    .card {
        box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
        border-width: 0;
        transition: all .2s;
        background-color: rgba(220, 220, 220, 0.6);
    }

    .card-header:first-child {
        border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
    }

    .card-header {
        display: flex;
        align-items: center;
        border-bottom-width: 1px;
        padding-top: 0;
        padding-bottom: 0;
        padding-right: 0.625rem;
        height: 3.5rem;
        border-radius: 20px;
    }
    .widget-subheading{
        color: #858a8e;
        font-size: 10px;
    }
    .card-header.card-header-tab .card-header-title {
        display: flex;
        align-items: center;
        white-space: nowrap;
    }

    .card-header .header-icon {
        font-size: 1.65rem;
        margin-right: 0.625rem;
    }

    .card-header.card-header-tab .card-header-title {
        display: flex;
        align-items: center;
        white-space: nowrap;
    }

    .btn-actions-pane-right {
        margin-left: auto;
        white-space: nowrap;
    }

    .text-capitalize {
        text-transform: capitalize !important;
    }

    .scroll-area-sm {
        height: 288px;
        overflow-x: hidden;
    }

    .daily-list-group-item {
        position: relative;
        display: block;
        padding: 0.75rem 1.25rem;
        margin-bottom: -1px;
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.125);
    }

    .interval-list-group-item {
        position: relative;
        display: block;
        padding: 0.75rem 1.25rem;
        margin-bottom: -1px;
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.125);
    }

    .list-group {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
    }

    .todo-indicator {
        position: absolute;
        width: 4px;
        height: 60%;
        border-radius: 0.3rem;
        left: 0.625rem;
        top: 20%;
        opacity: .6;
        transition: opacity .2s;
    }

    {#.bg-warning {#}
    {#    background-color: #f7b924;#}
    {#}#}

    .widget-content {
        padding: 1rem;
        flex-direction: row;
        align-items: center;
    }

    .widget-content .widget-content-wrapper {
        display: flex;
        flex: 1;
        position: relative;
        align-items: center;
    }

    .widget-content .widget-content-right.widget-content-actions {
        visibility: hidden;
        opacity: 0;
        transition: opacity .2s;
    }

    .widget-content .widget-content-right {
        margin-left: auto;
    }

    .btn:not(:disabled):not(.disabled) {
        cursor: pointer;
    }

    .btn {
        position: relative;
        transition: color 0.15s, background-color 0.15s, border-color 0.15s, box-shadow 0.15s;
    }

    .btn-outline-success {
        color: #3ac47d;
        border-color: #3ac47d;
    }

    .btn-outline-success:hover {
        color: #fff;
        background-color: #3ac47d;
        border-color: #3ac47d;
    }

    .btn-outline-success:hover {
        color: #fff;
        background-color: #3ac47d;
        border-color: #3ac47d;
    }
    .btn-primary {
        color: #fff;
        background-color: #3f6ad8;
        border-color: #3f6ad8;
    }
    .btn {
        position: relative;
        transition: color 0.15s, background-color 0.15s, border-color 0.15s, box-shadow 0.15s;
        outline: none !important;
    }

    .nav-link {
        color: black;
        border-radius: 5px;
    }

    .nav-tabs .nav-item .nav-link.active {
        background-color: gray;
        color: black;
        border-color: gainsboro;
        border-radius: 10px;
    }

    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function(){
            function showDailyHabitsByStatus(status) {
                $(".daily-list-group-item").hide();
                $(".daily-list-group-item[data-status='" + status + "']").show();
            }

            showDailyHabitsByStatus('daily-active');

            $("#daily-active-tab").click(function(){
                showDailyHabitsByStatus('daily-active');
            });

            $("#daily-success-tab").click(function(){
                showDailyHabitsByStatus('daily-success');
            });

            $("#daily-failed-tab").click(function(){
                showDailyHabitsByStatus('daily-failed');
            });
            $("#daily-skipped-tab").click(function(){
                showDailyHabitsByStatus('daily-skipped');
            });
        });

        $(document).ready(function(){
            function showIntervalHabitsByStatus(status) {
                $(".interval-list-group-item").hide();
                $(".interval-list-group-item[data-status='" + status + "']").show();
            }

            showIntervalHabitsByStatus('interval-active');

            $("#interval-active-tab").click(function(){
                showIntervalHabitsByStatus('interval-active');
            });

            $("#interval-success-tab").click(function(){
                showIntervalHabitsByStatus('interval-success');
            });

            $("#interval-failed-tab").click(function(){
                showIntervalHabitsByStatus('interval-failed');
            });

            $("#interval-skipped-tab").click(function(){
                showIntervalHabitsByStatus('interval-skipped');
            });
        });


    </script>
</head>
<!-- LEFT SIDE DAILY -->
<div class="row d-flex justify-content-center container">
    <div class="col-md-8">
        <div class="card-hover-shadow-2x mb-3 card" style="border-radius: 20px;">
            <div class="card-header-tab card-header"
                 style="border-top-left-radius: 20px;
                        border-top-right-radius: 20px">
                <h5 style="position: relative;
                           margin-right: 30px;
                           top: 6px;
                           font-family: Georgia">DAILY</h5>
                <ul class="nav nav-tabs card-header-tabs"
                    style="position: relative;
                           bottom: 4px">
                    <li class="nav-item">
                        <a class="nav-link"
                           id="daily-active-tab"
                           data-toggle="tab"
                           href="#ACTIVE"
                           role="tab"
                           aria-controls="daily-active"
                           aria-selected="false">Active</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           id="daily-success-tab"
                           data-toggle="tab"
                           href="#SUCCESS"
                           role="tab"
                           aria-controls="daily-success"
                           aria-selected="false">Completed</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           id="daily-failed-tab"
                           data-toggle="tab"
                           href="#FAILED"
                           role="tab"
                           aria-controls="daily-failed"
                           aria-selected="false">Failed</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           id="daily-skipped-tab"
                           data-toggle="tab"
                           href="#SKIPPED"
                           role="tab"
                           aria-controls="daily-skipped"
                           aria-selected="false">Skipped</a>
                    </li>
                </ul>
            </div>
            <div class="scroll-area-sm" style="position: relative; height: 500px;">
                <perfect-scrollbar class="ps-show-limits">
                <div style="position: static;" class="ps ps--active-y">
                    <div class="ps-content">
                        <ul class=" list-group list-group-flush">
                            {% for habit in habits %}
                                {% if habit.active and habit.frequency == "DAILY" %}
                                    <li class="daily-list-group-item"
                                        style="background-color: rgba(220, 220, 220, 0.6);
                                               border: gainsboro"
                                        id="ACTIVE"
                                        data-status="{% if habit.active %}daily-active{% elif habit.status == 'SUCCESS' %}daily-success{% elif habit.status == 'FAILED' %}daily-failed{% elif habit.status == 'SKIPPED' %}daily-skipped{% endif %}">
                                        <div class="todo-indicator"
                                             style="background-color: {{ habit.category.color }}"></div>
                                        <div class="widget-content p-0">
                                            <div class="widget-content-wrapper">
                                                <div class="widget-content-left mr-2">
                                                    <div class="custom-checkbox custom-control">
                                                        <input class="custom-control-input"
                                                               id="exampleCustomCheckbox12"
                                                               type="checkbox">
                                                        <label class="custom-control-label"
                                                               for="exampleCustomCheckbox12"
                                                               style="visibility: hidden">&nbsp;</label>
                                                    </div>
                                                </div>
                                                <div class="widget-content-left">
                                                    <div class="widget-heading"
                                                         style="position: relative;
                                                                right: 20px;
                                                                color: black">{{ habit.name }}</div>
                                                    <div class="widget-subheading" style="position: relative; right: 20px;">
                                                        <i>{{ habit.category }}</i>
                                                    </div>
                                                </div>
                                                <div class="widget-content-right" style="position: relative">
                                                    <form method="post" action="{% url "update-habit" habit.id %}">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="category_id" value="{{ habit.id }}">
                                                        <button type="submit"
                                                                id="status"
                                                                name="status"
                                                                value="SUCCESS"
                                                                class="border-0 btn-transition btn btn-outline-success">
                                                            <i class="fa fa-check"></i>
                                                        </button>
                                                        <div class="dropdown">
                                                            <button class="border-0 btn-transition btn"
                                                                    type="button"
                                                                    id="dropdownMenuButton"
                                                                    data-toggle="dropdown"
                                                                    aria-haspopup="true"
                                                                    aria-expanded="false">
                                                                <i class="fa fa-bars"></i>
                                                            </button>
                                                            <div class="dropdown-menu"
                                                                 aria-labelledby="dropdownMenuButton"
                                                                 style="background-color: rgba(220, 220, 220, 0.9)">
                                                                <!-- Tu dodaj zawartość menu -->
                                                                <button type="submit"
                                                                        id="status"
                                                                        name="status"
                                                                        value="FAILED"
                                                                        class="dropdown-item">
                                                                    Failed&nbsp <i class="fa fa-times"></i>
                                                                </button>
                                                                <button type="submit"
                                                                        id="status"
                                                                        name="status"
                                                                        value="SKIPPED"
                                                                        class="dropdown-item"
                                                                        href="#">
                                                                    Skip&nbsp <i class="fa fa-arrow-down"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                {% endif %}
                            {% endfor %}
                            {% for habit in habits %}
                                {% if not habit.active and habit.status == "SUCCESS" and habit.frequency == "DAILY" %}
                                    <li class="daily-list-group-item"
                                        style="background-color: rgba(220, 220, 220, 0.6);
                                               border-color: gainsboro"
                                        id="SUCCESS"
                                        data-status="{% if habit.active %}daily-active{% elif habit.status == 'SUCCESS' %}daily-success{% elif habit.status == 'FAILED' %}daily-failed{% elif habit.status == 'SKIPPED' %}daily-skipped{% endif %}">
                                        <div class="todo-indicator"
                                             style="background-color: {{ habit.category.color }}"></div>
                                        <div class="widget-content p-0">
                                            <div class="widget-content-wrapper">
                                                <div class="widget-content-left mr-2">
                                                    <div class="custom-checkbox custom-control">
                                                        <input class="custom-control-input"
                                                               id="exampleCustomCheckbox12"
                                                               type="checkbox">
                                                        <label class="custom-control-label"
                                                               for="exampleCustomCheckbox12"
                                                               style="visibility: hidden">&nbsp;</label>
                                                    </div>
                                                </div>
                                                <div class="widget-content-left">
                                                    <div class="widget-heading"
                                                         style="position: relative;
                                                                right: 20px;
                                                                color: black">{{ habit.name }}</div>
                                                    <div class="widget-subheading" style="position: relative; right: 20px;">
                                                        <i>{{ habit.category }}</i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                {% endif %}
                            {% endfor %}
                            {% for habit in habits %}
                                {% if not habit.active and habit.status == "FAILED" and habit.frequency == "DAILY" %}
                                    <li class="daily-list-group-item"
                                        style="background-color: rgba(220, 220, 220, 0.6);
                                               border: gainsboro"
                                        id="FAILED"
                                        data-status="{% if habit.active %}daily-active{% elif habit.status == 'SUCCESS' %}daily-success{% elif habit.status == 'FAILED' %}daily-failed{% elif habit.status == 'SKIPPED' %}daily-skipped{% endif %}">
                                        <div class="todo-indicator"
                                             style="background-color: {{ habit.category.color }}"></div>
                                        <div class="widget-content p-0">
                                            <div class="widget-content-wrapper">
                                                <div class="widget-content-left mr-2">
                                                    <div class="custom-checkbox custom-control">
                                                        <input class="custom-control-input"
                                                               id="exampleCustomCheckbox12"
                                                               type="checkbox">
                                                        <label class="custom-control-label"
                                                               for="exampleCustomCheckbox12"
                                                               style="visibility: hidden">&nbsp;</label>
                                                    </div>
                                                </div>
                                                <div class="widget-content-left">
                                                    <div class="widget-heading"
                                                         style="position: relative;
                                                                right: 20px;
                                                                color: black">{{ habit.name }}</div>
                                                    <div class="widget-subheading" style="position: relative; right: 20px;">
                                                        <i>{{ habit.category }}</i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                {% endif %}
                            {% endfor %}
                            {% for habit in habits %}
                                {% if not habit.active and habit.status == "SKIPPED" and habit.frequency == "DAILY" %}
                                    <li class="daily-list-group-item"
                                        style="background-color: rgba(220, 220, 220, 0.6);
                                               border: gainsboro"
                                        id="SKIPPED"
                                        data-status="{% if habit.active %}daily-active{% elif habit.status == 'SUCCESS' %}daily-success{% elif habit.status == 'FAILED' %}daily-failed{% elif habit.status == 'SKIPPED' %}daily-skipped{% endif %}">
                                        <div class="todo-indicator"
                                             style="background-color: {{ habit.category.color }}"></div>
                                        <div class="widget-content p-0">
                                            <div class="widget-content-wrapper">
                                                <div class="widget-content-left mr-2">
                                                    <div class="custom-checkbox custom-control">
                                                        <input class="custom-control-input"
                                                               id="exampleCustomCheckbox12"
                                                               type="checkbox">
                                                        <label class="custom-control-label"
                                                               for="exampleCustomCheckbox12"
                                                               style="visibility: hidden">&nbsp;</label>
                                                    </div>
                                                </div>
                                                <div class="widget-content-left">
                                                    <div class="widget-heading"
                                                         style="position: relative;
                                                                right: 20px;
                                                                color: black">{{ habit.name }}</div>
                                                    <div class="widget-subheading" style="position: relative; right: 20px;">
                                                        <i>{{ habit.category }}</i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                </perfect-scrollbar>
            </div>
        </div>
    </div>
</div>
<!-- RIGHT SIDE INTERVAL -->
<div class="row d-flex  container"
     style="position: relative;
            left: 850px;
            bottom: 672px">
    <div class="col-md-8">
        <div class="card-hover-shadow-2x mb-3 card" style="border-radius: 20px;">
            <div class="card-header-tab card-header"
                 style="border-top-left-radius: 20px;
                        border-top-right-radius: 20px">
                <h5 style="position: relative;
                           margin-right: 20px;
                           top: 6px;
                           font-family: Georgia">INTERVAL</h5>
                <ul class="nav nav-tabs card-header-tabs"
                    style="position: relative;
                           bottom: 4px">
                    <li class="nav-item">
                        <a class="nav-link"
                           id="interval-active-tab"
                           data-toggle="tab"
                           href="#ACTIVE"
                           role="tab"
                           aria-controls="interval-active"
                           aria-selected="false">Active</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           id="interval-success-tab"
                           data-toggle="tab"
                           href="#SUCCESS"
                           role="tab"
                           aria-controls="interval-success"
                           aria-selected="false">Completed</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           id="interval-failed-tab"
                           data-toggle="tab"
                           href="#FAILED"
                           role="tab"
                           aria-controls="interval-failed"
                           aria-selected="false">Failed</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           id="interval-skipped-tab"
                           data-toggle="tab"
                           href="#SKIPPED"
                           role="tab"
                           aria-controls="interval-skipped"
                           aria-selected="false">Skipped</a>
                    </li>
                </ul>
            </div>
            <div class="scroll-area-sm" style="position: relative; height: 500px;">
                <perfect-scrollbar class="ps-show-limits">
                <div style="position: static;" class="ps ps--active-y">
                    <div class="ps-content">
                        <ul class=" list-group list-group-flush">
                            {% for habit in habits %}
                                {% if habit.active and habit.frequency == "INTERVAL" %}
                                    <li class="interval-list-group-item"
                                        style="background-color: rgba(220, 220, 220, 0.6);
                                               border: gainsboro"
                                        id="ACTIVE"
                                        data-status="{% if habit.active %}interval-active{% elif habit.status == 'SUCCESS' %}interval-success{% elif habit.status == 'FAILED' %}interval-failed{% elif habit.status == 'SKIPPED' %}interval-skipped{% endif %}">
                                        <div class="todo-indicator"
                                             style="background-color: {{ habit.category.color }}"></div>
                                        <div class="widget-content p-0">
                                            <div class="widget-content-wrapper">
                                                <div class="widget-content-left mr-2">
                                                    <div class="custom-checkbox custom-control">
                                                        <input class="custom-control-input"
                                                               id="exampleCustomCheckbox12"
                                                               type="checkbox">
                                                        <label class="custom-control-label"
                                                               for="exampleCustomCheckbox12"
                                                               style="visibility: hidden">&nbsp;</label>
                                                    </div>
                                                </div>
                                                <div class="widget-content-left">
                                                    <div class="widget-heading"
                                                         style="position: relative;
                                                                right: 20px;
                                                                color: black">{{ habit.name }}</div>
                                                    <div class="widget-subheading" style="position: relative; right: 20px;">
                                                        <i>{{ habit.category }}</i>
                                                    </div>
                                                </div>
                                                <div class="widget-content-right" style="position: relative">
                                                    <form method="post" action="{% url "update-habit" habit.id %}">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="category_id" value="{{ habit.id }}">
                                                        <button type="submit"
                                                                id="status"
                                                                name="status"
                                                                value="SUCCESS"
                                                                class="border-0 btn-transition btn btn-outline-success">
                                                            <i class="fa fa-check"></i>
                                                        </button>
                                                        <div class="dropdown">
                                                            <button class="border-0 btn-transition btn"
                                                                    type="button"
                                                                    id="dropdownMenuButton"
                                                                    data-toggle="dropdown"
                                                                    aria-haspopup="true"
                                                                    aria-expanded="false">
                                                                <i class="fa fa-bars"></i>
                                                            </button>
                                                            <div class="dropdown-menu"
                                                                 aria-labelledby="dropdownMenuButton"
                                                                 style="background-color: rgba(220, 220, 220, 0.9)">
                                                                <!-- Tu dodaj zawartość menu -->
                                                                <button type="submit"
                                                                        id="status"
                                                                        name="status"
                                                                        value="FAILED"
                                                                        class="dropdown-item">
                                                                    Failed&nbsp <i class="fa fa-times"></i>
                                                                </button>
                                                                <button type="submit"
                                                                        id="status"
                                                                        name="status"
                                                                        value="SKIPPED"
                                                                        class="dropdown-item"
                                                                        href="#">
                                                                    Skip&nbsp <i class="fa fa-arrow-down"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                {% endif %}
                            {% endfor %}
                            {% for habit in habits %}
                                {% if not habit.active and habit.status == "SUCCESS" and habit.frequency == "INTERVAL" %}
                                    <li class="interval-list-group-item"
                                        style="background-color: rgba(220, 220, 220, 0.6);
                                               border-color: gainsboro"
                                        id="SUCCESS"
                                        data-status="{% if habit.active %}interval-active{% elif habit.status == 'SUCCESS' %}interval-success{% elif habit.status == 'FAILED' %}interval-failed{% elif habit.status == 'SKIPPED' %}interval-skipped{% endif %}">
                                        <div class="todo-indicator"
                                             style="background-color: {{ habit.category.color }}"></div>
                                        <div class="widget-content p-0">
                                            <div class="widget-content-wrapper">
                                                <div class="widget-content-left mr-2">
                                                    <div class="custom-checkbox custom-control">
                                                        <input class="custom-control-input"
                                                               id="exampleCustomCheckbox12"
                                                               type="checkbox">
                                                        <label class="custom-control-label"
                                                               for="exampleCustomCheckbox12"
                                                               style="visibility: hidden">&nbsp;</label>
                                                    </div>
                                                </div>
                                                <div class="widget-content-left">
                                                    <div class="widget-heading"
                                                         style="position: relative;
                                                                right: 20px;
                                                                color: black">{{ habit.name }}</div>
                                                    <div class="widget-subheading" style="position: relative; right: 20px;">
                                                        <i>{{ habit.category }}</i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                {% endif %}
                            {% endfor %}
                            {% for habit in habits %}
                                {% if not habit.active and habit.status == "FAILED" and habit.frequency == "INTERVAL" %}
                                    <li class="interval-list-group-item"
                                        style="background-color: rgba(220, 220, 220, 0.6);
                                               border: gainsboro"
                                        id="FAILED"
                                        data-status="{% if habit.active %}interval-active{% elif habit.status == 'SUCCESS' %}interval-success{% elif habit.status == 'FAILED' %}interval-failed{% elif habit.status == 'SKIPPED' %}interval-skipped{% endif %}">
                                        <div class="todo-indicator"
                                             style="background-color: {{ habit.category.color }}"></div>
                                        <div class="widget-content p-0">
                                            <div class="widget-content-wrapper">
                                                <div class="widget-content-left mr-2">
                                                    <div class="custom-checkbox custom-control">
                                                        <input class="custom-control-input"
                                                               id="exampleCustomCheckbox12"
                                                               type="checkbox">
                                                        <label class="custom-control-label"
                                                               for="exampleCustomCheckbox12"
                                                               style="visibility: hidden">&nbsp;</label>
                                                    </div>
                                                </div>
                                                <div class="widget-content-left">
                                                    <div class="widget-heading"
                                                         style="position: relative;
                                                                right: 20px;
                                                                color: black">{{ habit.name }}</div>
                                                    <div class="widget-subheading" style="position: relative; right: 20px;">
                                                        <i>{{ habit.category }}</i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                {% endif %}
                            {% endfor %}
                            {% for habit in habits %}
                                {% if not habit.active and habit.status == "SKIPPED" and habit.frequency == "INTERVAL" %}
                                    <li class="interval-list-group-item"
                                        style="background-color: rgba(220, 220, 220, 0.6);
                                               border: gainsboro"
                                        id="SKIPPED"
                                        data-status="{% if habit.active %}interval-active{% elif habit.status == 'SUCCESS' %}interval-success{% elif habit.status == 'FAILED' %}interval-failed{% elif habit.status == 'SKIPPED' %}interval-skipped{% endif %}">
                                        <div class="todo-indicator"
                                             style="background-color: {{ habit.category.color }}"></div>
                                        <div class="widget-content p-0">
                                            <div class="widget-content-wrapper">
                                                <div class="widget-content-left mr-2">
                                                    <div class="custom-checkbox custom-control">
                                                        <input class="custom-control-input"
                                                               id="exampleCustomCheckbox12"
                                                               type="checkbox">
                                                        <label class="custom-control-label"
                                                               for="exampleCustomCheckbox12"
                                                               style="visibility: hidden">&nbsp;</label>
                                                    </div>
                                                </div>
                                                <div class="widget-content-left">
                                                    <div class="widget-heading"
                                                         style="position: relative;
                                                                right: 20px;
                                                                color: black">{{ habit.name }}</div>
                                                    <div class="widget-subheading" style="position: relative; right: 20px;">
                                                        <i>{{ habit.category }}</i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                </perfect-scrollbar>
            </div>
        </div>
    </div>
</div>
