<body>
    <div class="dropdown" style="position: relative; left: 620px; bottom: 5px">
        <button class="border-0 btn-transition btn"
                type="button"
                id="dropdownMenuButton"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">
            <i class="fa fa-bell" style="font-size:24px;"></i>
        </button>
        <div class="dropdown-menu"
             aria-labelledby="dropdownMenuButton"
             style="background-color: rgba(220, 220, 220, 0.9)">
            <!-- Tu dodaj zawartość menu -->
            {% for notification in notifications %}
                <perfect-scrollbar class="ps-show-limits">
                {% if notification.active %}
                    <div>
                        <h3>{{ notification.name }}</h3>
                        <h4>{{ notification.message }}</h4>
                    </div>
                {% endif %}
                </perfect-scrollbar>
            {% endfor %}
        </div>
    </div>
</body>
